<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>Welcome To Synrgy Batch 3</p>
    <a href="/student">Student</a>
    <a href="/teacher">Teacher</a>
</body>
</html>