<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-inverse">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
          </tr>
        </thead>
      
        <tbody>
          <% for(var i=0; i < studentlist.length; i++) { %>
          <tr>
            <td><%= studentlist[i].id %></td>
            <td><%= studentlist[i].name %></td>
            <td><%= studentlist[i].email %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
</body>
</html>