<table class="table table-inverse">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>address</th>
      </tr>
    </thead>
  
    <tbody>
      <% for(var i=0; i < Teacherlist.length; i++) { %>
      <tr>
        <td><%= Teacherlist[i].id %></td>
        <td><%= Teacherlist[i].name %></td>
        <td><%= Teacherlist[i].address %></td>
      </tr>
      <% } %>
    </tbody>
  </table>